:root {
    /* ===== COLORES BASE ===== */
    --color-fondo: #F9F9F9;
    --color-cabecera-footer: #1E3A5F;
    --color-menu: #2F80ED;
    --color-bordes: #E0E0E0;


    --texto-principal: #333333;
    --texto-secundario: #666666;
    --texto-titulos: #1E3A5F;
    --texto-subtitulos: #2F80ED;
    --texto-blanco: #FFFFFF;


    --color-boton: #27AE60;
    --color-boton-hover: #219150;
    --respuesta-correcta: #DFF5E1;
    --respuesta-incorrecta: #FDE2E2;
    --color-error: #E74C3C;


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf6e3;
    color: #333333;
    font-family: 'Poppins', sans-serif;

}

/*Header*/
.header {
    display: flex;
    flex-direction: row;
    background-color: var(--color-cabecera-footer);

}

.header__img {
    width: 100px;
    margin-left: 20px;
}

.header__title {
    margin-top: 10px;
    margin-left: 20px;
    font-size: 40px;
    color: var(--texto-blanco);
}

/*Menu de la página*/
.nav {
    border: 1px solid var(--color-bordes);
    /* gris suave */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    height: 30px;
    margin-top: 20px;
    margin-left: 90px;
    background-color: var(--color-menu);/* azul del menú */
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.nav__item {
    font-size: 20px;
    text-decoration: none;
    list-style: none;

}

.nav__link {
    color: var(--texto-blanco);
    text-decoration: none;
    transition: color 0.3s;/* transición suave */

}

.nav__link:hover {
    color: var(--color-boton);/* efecto al pasar el ratón */
}

/*Contenedor principal*/
.container {
 display: grid;
    grid-template-columns: 1fr 1fr; /* dos columnas iguales */
    gap: 20px; /* espacio entre columnas */
    max-width: 1200px;
    margin: 20px auto;
}

/*Index.html*/
.game__title {
    color: var(--texto-subtitulos);
}

.game__btn {
    background-color: var(--color-boton);
    color: var(--texto-blanco);
    border: 1px solid var(--color-bordes);
    /* gris suave */
    width: 200px;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
}

.game__btn:hover {
    background-color: var(--color-boton-hover);
}

/*Footer*/
.footer {
    background-color: var(--color-cabecera-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--texto-blanco);
    font-size: 15px;
}