:root {
    --color-cabecera-footer: #1E3A5F;
    --color-menu: #2F80ED;
    --color-bordes: #E0E0E0;
    --texto-subtitulos: #2F80ED;
    --texto-blanco: #FFFFFF;
    --color-boton: #27AE60;
    --color-boton-hover: #219150;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #fdf6e3;
    color: #333333;
    font-family: 'Poppins', sans-serif;

}

/*Contenedor principal*/
.container {
 display: grid;
    grid-template-columns: 1fr 1fr; /* dos columnas iguales */
    gap: 20px; /* espacio entre columnas */
    max-width: 1200px;
    margin: 20px auto;
}

/*Index.html*/
.game__title {
    color: var(--texto-subtitulos);
}
.game__input{
   margin-top: 10px; 
}
.game__buttons{
    margin-top: 25px;
}
.game__btn {
    background-color: var(--color-boton);
    color: var(--texto-blanco);
    border: 1px solid var(--color-bordes);
    /* gris suave */
    width: 200px;
    padding: 10px 10px 10px 10px;
    margin-left: 20px;
}

.game__btn:hover {
    background-color: var(--color-boton-hover);
}
.galeria{
    border:1px solid red;
    margin-top: 20px;

}
.galeria__title{
  color: var(--texto-subtitulos);   
}
/*juego.html*/
.respuesta{
    width:100px;
}
main section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid var(--color-bordes);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.frase{
    font-size: 24px;
    font-weight: bold;
    color: var(--texto-subtitulos);
    margin-bottom: 20px;
}
form {
    margin-bottom: 20px;
}

.respuesta {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--color-bordes);
}
button {
    padding: 10px 20px;
    margin-right: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--texto-blanco);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-boton-hover);
}
.resultado {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.idiomaTest {
    margin-top: 10px;
    font-style: italic;
}
.paises {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.paises h3 {
    width: 100%;
    color: var(--texto-subtitulos);
    margin-bottom: 10px;
}

.bandera {
    width: 80px;       /* ancho fijo */
    height: auto;      /* altura proporcional */
    margin: 5px;       /* espacio entre banderas */
    border-radius: 5px; /* opcional, bordes redondeados */
    object-fit: cover;  /* recorta si la imagen no encaja */
}


/*GALERÍA*/
.galeriaGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    margin-top: 20px;
}
.galeria-item {
    text-align: center;
}

.galeria-item img {
    width: 100%;
    border-radius: 8px;
}
